@import "reset.scss";

body {
  font: 20px/1.5 "futura-pt", sans-serif;
  font-weight: 400;
  background: #f0f0f0;
  color: #202020;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #22090e;
  text-decoration: none;
  &:visited {
    color: #22090e;
  }
  &:after {
    content: " »";
  }
}
header {
  margin: 30px;
  & a:after {
    content: "";
  }
}
section {
  width: 690px;
  margin: 30px;
  p a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    } 
    &:after {
      content: "";
    } 
  }
}
aside.anuncios {
  float: right;
  width: 210px;
  background: #101010;
  background: rgba(10, 10, 10, 0.95);
  padding: 15px 30px;
  color: #f0f0f0;
  dt {
    margin: 0;
    color: #f0f0f0;
    font-size: 20px;
  }
  dd {
    margin: 0;
    font-size: 16px;
  }
  a {
    color: white;
    text-decoration: underline;
    &:visited {
      color: white;
    }
  }
}
dt {
  color: #22090e;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin: 30px 0 0;
}
dd {
  margin: 0 0 30px;
}
h1 {
  font-size: 45px;
  line-height: 1;
  color: black;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  line-height: 48px;
  color: black;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 15px;
  color: black;
  font-weight: 500;
}
strong {
  font-weight: 500;
}