@import "reset.scss";

body {
  font: 20px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #f0f0f0 url(/img/white_carbon.png);
  color: #202020;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #b62123;
  text-decoration: none;
  &:visited {
    color: #b62123;
  }
}

header {
  margin: 30px auto;
  img {
    border: 0;
  }
}

section {
  width: 690px;
  margin: 30px auto;
  p a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

section.bienvenida {
  background: #101010;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 30px;
  color: #f0f0f0;
  font-size: 22px;
  a {
    color: #b62123;
    text-decoration: underline;
    &:visited {
      color: #b62123;
    }
  }
}

dt {
  color: #22090e;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin: 30px 0 0;
  a:after {
    content: " »";
  }
}

dd {
  margin: 10px 0 10px;
}

h1 {
  font-size: 45px;
  line-height: 1;
  color: black;
  font-weight: 500;
}

h2 {
  color: black;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  margin-top: 10px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 15px;
  color: #b62123;
  font-weight: 500;
}

strong {
  font-weight: 500;
}

.logo img {
  height: 100px;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cfpContainer {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cfpContent {
  width: 690px;
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  p {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 0px 25px;
  }

  form {
    background-color: #f0f0f0;
    padding: 5px 25px 15px;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }

  .inputGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

    label {
      flex: 1;
      font-size: 0.75em;
      font-weight: 500;
      margin-bottom: 5px;
      text-align: right;
    }

    input, textarea {
      width: 70%;
      margin-left: 15px;
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-size: 0.7em;
      border: none;
      background: none;
      border: 1px solid #b2b2b2;
      border-radius: 5px;
      padding: 10px;
    }
  }

  input.cfpButton {
    margin-top: 20px;
    padding: 10px 2em;
    align-self: flex-end;
    background-color: dodgerblue;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
  }
}