---
layout: base
---

<div class="max-w-5xl mx-auto py-32 px-5">
  <div>
    {%- if page.title -%}
      <h1 class="text-5xl text-stone-900 font-extrabold">{{ page.title }}</h1>
    {%- endif -%}
    {%- if page.date and page.author -%}
      <div class="text-base text-stone-700 mt-2 mb-6">
        <time datetime="{{page.date}}">{{ page.date | date_to_string }}</time> - {{ page.author }}
      </div>
    {%- endif -%}
  </div>
  <div class="prose lg:prose-lg md:prose-xl prose-stone">
    {{ content }}
  </div>
</div>
